<p id="notice"><%= notice %></p>

<h1>Send a message</h1>

<%= render 'form', messenger: @messenger %>

<% @messengers.each do |message| %>
  <tr>    <td><%= message.message %></td>
    <td><%= link_to 'Delete', delete_messenger_path(message), method: :delete, class: "btn btn-danger" %></td>
  </tr>
  <% end %>
